@font-face {
    font-family: "Lexend100";
    src: url("../fonts/Lexend/Lexend-Thin.ttf");
}
@font-face {
    font-family: "Lexend200";
    src: url("../fonts/Lexend/Lexend-ExtraLight.ttf");
}
@font-face {
    font-family: "Lexend300";
    src: url("../fonts/Lexend/Lexend-Light.ttf");
}
@font-face {
    font-family: "Kavoon";
    src: url("../fonts/Kavoon/Kavoon-Regular.ttf");
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

/* INFO */
#info_button {
    position: absolute;

    right: 5vw;
    top: 2vh;

    height: 30px;
    width: 30px;

    background-image: url("../media/info.png");
    background-position: center;
    background-size: contain;
}

#info_background {
    background-color: white;
    padding: 12vw;
    border-radius: 10px;
    height: 60vh;
    width: 85vw;
    box-sizing: border-box;

    display: grid;
    gap: 2vh;
    grid-template-rows: 1fr 5fr 1fr;
}

#close_button {
    height: 30px;
    width: 30px;
    grid-row: 1;
    justify-self: end;
    align-self: center;

    background-image: url("../media/close.png");
    background-position: center;
    background-size: contain;
}

#info_text {
    grid-row: 2;
    text-align: center;
    align-self: center;

    margin: 0;
    font-size: 24px;
}

#next_message_button {
    background-image: url(../media/next.png);
    background-position: center;
    background-size: contain;

    justify-self: end;
    align-self: center;
    grid-row: 3;
    height: 30px;
    width: 30px;
}
