#wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0px;
    font-family: "Kavoon";
    font-size: 24px;
}

header {
    display: flex;
    justify-content: center;

    margin-top: 2vh;
    height: 15vh;
}

.eggLogo {
    background-image: url("../media/eggIcon.png");
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
}

main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: "Lexend300";
}

#eggTimer{
    height: 90vw;
    max-height: 400px;
    width: 80vw;
    max-width: 400px;

    display: grid;
}

.eggTimerIcon {
    background-image: url("../media/eggTimerImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
}

#loadingBarContainer {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    align-items: flex-end;
}

#loadingBar {
    background-color: #FFD601;
    width: 100%;
    height: 0%;
    transition-property: height;
    transition-duration: 1s;
}

#startTimer {
    width: 160px;
    height: 55px;

    border: none;
    border-radius: 5px;
    background-color: #FFD601;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.startIcon {
    background-image: url("../media/playButton.png");
    background-size: cover;
    background-position: center;

    height: 20px;
    width: 20px;

    position: relative;
    top: 1.4px;
}
.stopIcon {
    background-image: url("../media/stop.png");
    background-size: cover;
    background-position: center;

    height: 20px;
    width: 20px;

    position: relative;
    top: 1.4px;
}

#customizeEgg {
    margin-bottom: 2vh;
    width: 160px;

    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    font-size: 18px;
}

.arrowIconUp {
    background-image: url("../media/arrowUp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 22px;
    width: 22px;
}

/* --- Start of egg customization page --- */

#customizePage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    height: 80vh;
    max-height: 700px;
    width: 85vw;
    max-width: 450px;

    background-color: white;
    border-radius: 10px;
    font-family: "Lexend300";
    font-size: 5.3vw;
    padding: 15px;
}

@media (min-width: 450px){
    #customizePage, #closeCustomizeContainer #closeCustomize {
        font-size: 24px;
    }
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options > div {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
}

#warmContainer {
    padding: 3px;
    box-sizing: border-box;
}

#warmImage {
    background-image: url("../media/sun.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 44px;
    width: 44px;
}

#cold {
    background-image: url("../media/snow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#boilType > .options > div {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#softImg, #mediumImg, #hardImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 60px;
}

#softImg { background-image: url("../media/soft.png"); }
#mediumImg { background-image: url("../media/medium.png"); }
#hardImg { background-image: url("../media/hard.png"); }

#averageTime {
    text-align: center;
    font-size: 30px;
}

#closeCustomizeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeCustomize {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 5.3vw;
}

.selected {
    background-color: #FFD601;
}

#overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;

    font-family: "Lexend300";
}

/* INFO */
#info_button {
    position: absolute;

    right: 5vw;
    top: 2vh;

    height: 30px;
    width: 30px;

    background-image: url("../media/info.png");
    background-position: center;
    background-size: contain;
}

#info_background {
    background-color: white;
    padding: 12vw;
    border-radius: 10px;
    height: 60vh;
    width: 85vw;
    box-sizing: border-box;

    display: grid;
    gap: 2vh;
    grid-template-rows: 1fr 5fr 1fr;
}

#close_button {
    height: 30px;
    width: 30px;
    grid-row: 1;
    justify-self: end;
    align-self: center;

    background-image: url("../media/close.png");
    background-position: center;
    background-size: contain;
}

#info_text {
    grid-row: 2;
    text-align: center;
    align-self: center;

    margin: 0;
    font-size: 24px;
}

#next_message_button {
    background-image: url(../media/next.png);
    background-position: center;
    background-size: contain;

    justify-self: end;
    align-self: center;
    grid-row: 3;
    height: 30px;
    width: 30px;
}

/* Stop */

#stop_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;

    background-color: white;
    padding: 12vw;
    border-radius: 10px;
    height: 30vh;
    width: 85vw;
    box-sizing: border-box;
    gap: 2vh;
}

#choice_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 3;
    gap: 2vw;
}

.choice_button {
    border: solid black 1px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.button:active {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}

#info_background > .button:active {
    border-radius: 50%;
}

#info_button:active {
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
}

#closeCustomize:active {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
}

#startTimer:active {
    background-color: #E0BB02;
    border-radius: 5px;
}